.btn {
  border-radius: var(--radius);
  padding: 5px 10px;
  transition: all 0.3s;
  background-color: var(--bg-color);
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
}

.btn:hover {
  background-color: var(--hover-bg);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
